---
title: Home
---

<h1>A Crufty Old Nanoc Site That Changed a bit more and all that</h1>

<p>Nothing really. Not yet. I might change the layout.</p>


<p>I could check out the documentation (see sidebar), and be sure to ignore the discussion group (also see sidebar).</p>
